.Subscribe{
    height:70vh;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #7dace4,#e1ffea22 60% );
    gap: 30px;
    
}
.Subscribe h1{
    color: black;
    font-size: 55px;
    font-weight: 600;
}
.Subscribe p{
    color: #000000;
    font-size: 20px;
}
.Subscribe div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3ee;
}
.Subscribe div input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}
.Subscribe div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width :825px) {
    .Subscribe div{
       
        width: 400px;
        height: 40px;
       
    }
    .Subscribe div button{
        width: 250px;
        height: 70px;
       
    }
    .Subscribe h1{
        
        font-size: 35px;
       
    }
}
@media (max-width :480px) {
    .Subscribe div{
       
        width: 400px;
        height: 40px;
       
    }
    .Subscribe div button{
        width: 250px;
        height: 70px;
       
    }
    .Subscribe h1{
        
        font-size: 25px;
       
    }
    .Subscribe p{
        color: #000000;
        font-size: 15px;
    }
    .Subscribe{
        margin-top: 150px;
    }
  
}
