.hero-secton{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #7dace4,#e1ffea22 60% );
}
h3 {
    color: rgb(15, 14, 14);
    font-size: 25px;
  }


.content {
    align-items: center;
    padding-top: 30px;
    margin-left: 30px;
  }
  .center {
  
    margin-left: 50px;
   
  }
  h1{
    font-size:70px;
  }
  .explore{
    border: none;
    height: 60px;
    width: 250px;
    background-color: black;
    color:white;
    font-size: 20px;
    border-radius: 4px;
  }
 
  @media (max-width :1200px) {
    .hero-left img{
      height: 700px;
    }
 }
 @media (max-width :825px) {
  h1{
    font-size:40px;
  }
  .hero-left img{
    height: 500px;
  }
  h3 {
    
    font-size: 20px;
  }
  .explore{
    
    height: 60px;
    width: 200px;
   
  }
}
@media (max-width :480px) {
  .hero-left img{
    height: 300px;
  }
}

