.container{
  height: 60px;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
   background: #2772db; 
}
.container h3{
  font-size: 30px;
  color: #ffffff; 
}
.container h3 i{
  font-size: 25px;
}

.container ul{
display: flex;
align-items: center;
list-style: none;
gap: 30px;
color: #ffffff;
font-size: 20px;
font-weight: 500;
}
.container  ul li{

}
a{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

 input{
  height: 30px;
  width: 250px;
  border:1px solid #000000;
  border-radius: 4px;
  
}
.btn {
  margin-left: 15px;
  height: 30px;
  width: 80px;
  background-color:#ffffff;
  border: none;
  color: #000000;
  cursor: pointer;
  border-radius: 4px;
}
.icon{
  display: flex;
  align-items: center;
  gap: 45px;
}
.icon i{
  color: rgb(255, 255, 255);
  padding-right: 10px;
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;
}
.count{
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}
 .icon button{
  width: 127px;
  height: 42px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color:rgb(0, 0, 0) ;
  font-size: 15px;
  font-weight: 500;
  background:#ffffff;
  cursor: pointer;
}
.icon button:active{
   background:#000000;
   color:#ffffff;
}
hr{
  border: none;
  width:80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}
img{
  color: white;
}