.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #afa8a8;
    color: rgb(0, 0, 0);
}
.footer-logo{
    display:flex;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    font-weight: 700;
}
.footer-logo p{
    color: #000000;
    font-size: 46px;
    font-weight: 700;
}
.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    cursor: pointer;
    border: 1px solid #ebebeb;
    background: #afa8a8;
}
.footer-copyright{
    color: rgb(0, 0, 0);
}
@media (max-width :480px) {
    .footer-links{
        gap: 20px;
        font-size: 15px;
    }
    .footer-logo{
        display:flex;
        align-items: center;
        font-size: 25px;
        font-weight: 700;
    }
    .footer-icons-container{
        padding: 0px;
        padding-bottom: 0px;
        cursor: pointer;
        
    }
    .footer-copyright{
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
 }
@media (max-width :825px) {
    .footer-links{
        gap: 40px;
        font-size: 20px;
    }
    .footer-logo{
        display:flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
    }
    .footer-icons-container{
        padding: 0px;
        padding-bottom: 0px;
        cursor: pointer;
        
    }
    .footer-copyright{
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
 }
 @media (max-width :480px){
    .footer-links{
        gap: 20px;
        font-size: 15px;
    }
    .footer-logo{
        display:flex;
        align-items: center;
        font-size: 30px;
        font-weight: 700;
    }
    .footer-icons-container{
        padding: 0px;
        padding-bottom: 0px;
        cursor: pointer;
        
    }
    .footer-copyright{
        color: rgb(0, 0, 0);
        font-size: 14px;
    }
 }